body {
    padding: 1rem;
}

img {
    border-radius: 13px;
}


.head {
    background-color: #bdb2ff;
    border-radius: 11px;
    padding: 1rem 2rem;
}

.crew {
    background-color: #ffadad;
    border-radius: 11px;
    padding: 1rem 2rem;
}

.work {
    background-color: #ffd6a5;
    border-radius: 11px;
    padding: 1rem 2rem;
}

.skills {
    background-color: #caffbf;
    border-radius: 11px;
    padding: 1rem 2rem;
}

.footer a,
a {
    margin: 2rem auto;
}

.forms {
    max-width: 30%;
}